.top{

  overflow: scroll;

  &__contents {
    width: 4510px;
    height: 100%;
    // overflow: scroll;
    display: flex;

    &__head-project {
      width: 640px;
      height: 100%;
      margin-right: 5px;
      position: relative;

      img {
        width: 640px;
        height: 260px;
      }
      &-recruitment_style {
        position: absolute;
        display: inline-block;
        top: 275px;
        left: 16px;
        color: $w-blue;
        font-size: 12px;
        font-weight: 600;
      }
      &-title {
        display: inline-block;
        position: absolute;
        width: 600px;
        font-size: 20px;
        top: 300px;
        left: 14px;
      }
    }
  }
}